/* ==========================================================================
   Base
   ========================================================================== */

body {
    background: url("../img/space_bg.jpg") no-repeat fixed center center / cover  transparent;
    color: rgb(153, 153, 153);
    font-size: 16px;
}



/* =============================================================================
   Header
   ========================================================================== */

.banner { }

.navbar-inner {
    background: rgba(0,0,0,.6);
    border: none;
}
.navbar .brand { text-shadow: none; }
.navbar .nav > li > a {text-shadow: none;}
.media { margin-top: 0px; }
.page-header{ 
    border-bottom: none; 
    margin: 0px 0 10px;
    padding-bottom: 0px;
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.entry-meta { 
    color: #666;
    font-size: 14px;
    margin: -5px 0px 20px 0px
}
.main { }
.shadebg {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background: rgba(0,0,0,.5);
    border-radius: 6px;
    margin-top: 15px;
    padding: 20px;
}



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
